html, body {
    height: 100%;
    width: 100%;
  }
  
  body {font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: aqua;
    }
a:hover {
    color: skyblue;
    text-decoration: none;
  }
  
  p a{
    color: skyblue;
    text-decoration: none
  }
  .web-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2px 3px;
    background-color: #1da78e;
    overflow: auto;
    padding: 10px;
  }
  
  .web-navigation a{
      float: right;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
  }
  
  section div {
    height: auto;
    width: auto;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;

  }

.card .img {
    width: 100px;
    height: auto;
}